# Игнор-лист файлов проекта
# Игнорировать ВСЕ файлы и директории, включая поддиректории и файлы в них
# ---- ФАЙЛЫ ----
/target/
/.idea/
/ru.motiw.ui.autotests.iml
/build/
/video/
# Исключение из игнорирования
!/src/main/resources/drivers/chromedriver.exe
!/src/main/resources/drivers/geckodriver.exe
